<div class="discussion-sidebar-item js-discussion-sidebar-item no-border k2picker-wrapper"></div>
<div class="discussion-sidebar-item js-discussion-sidebar-item no-border k2pickertype-wrapper"></div>
<div class="discussion-sidebar-item js-discussion-sidebar-item no-border k2pickerarea-wrapper"></div>
<div class="discussion-sidebar-item js-discussion-sidebar-item no-border k2togglereviewing-wrapper"></div>
<div class="discussion-sidebar-item js-discussion-sidebar-item k2comments-wrapper"></div>
<div class="discussion-sidebar-item js-discussion-sidebar-item k2previousissue-wrapper"></div>
